@media screen and (max-width: 600px) {
    .cabecalho img, .input textarea, .conteudo, .botoes button, .boneco, .btn-copiar{
        width: auto;
        
    }
     
    .conteudo img{
        position: absolute;
        width: 70%;
        height: 50%;
        left: 12%;
        top: 10%;
    }
@media screen and (max-width: 685px) {
        .container{
            display: block !important;
        }
    }




