* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;    
}

.main_container{
    width: 100%;
    height: 100%;
}

body {
    background: #E5E5E5;
}

.cabecalho{
    justify-content: space-between;
    padding: 1%;
    display:flex;
}

.cabecalho h1 {
    color: #0A3871;    
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    align-self: center;
}

.cabecalho img{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.input textarea{
    position: absolute;
    width: 50rem;
    height: 20rem;
    font-size: 2rem;
    color: #0A3871;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 110px;
    resize: none;
    
}

.input h6 {
    font-size: 12px;
    position: absolute;
    line-height: 150%;
    opacity: 0.8;
    color: #495057;
    top: 550px;
    left: 10%;
}

.conteudo{
    position: absolute;
    
    max-width: 400px;
    max-height: 544px;
    width: 24%;
    height: 75%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    align-items: center;
    text-align: center;
    padding: 30px 4px 4px 4px;
}



.conteudo img{
    position: absolute;
    width: 70%;
    height: 50%;
    left: 12%;
    top: 10%;
}

.conteudo h2{    
    font-size: 25px;
    color: #0A3871;
    height: 350px;
}

.msg{
    position: absolute;
    top: 80%;
    left: 7%;
}

.conteudo span{
    position: absolute;
    width: 350px;
    height: 255px;
    left: 7%;
    bottom: 160px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #495057;
    word-wrap: break-word;
    
}



.botoes{
    position: absolute;
    display: flex;
    gap: 24px;
    top: 570px;
    left: 10%;
}

.botoes button{
    background: #0A3871;
    border-radius: 24px;
    text-decoration: none;
    width: 328px;
    height: 67px;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
}

.btn-desencriptar{
    background: #D8DFE8 !important;
    border: 1px solid #0A3871 !important;
    color: #0A3871 !important;
}

.boneco{
    background-color: #FFFFFF;
    position: absolute;
    width: 336px;
    height: 304px;
    left: 980px;
    top: 220px;
}

.btn-copiar{
    position: absolute;
    right: 5px;
    left: 6px;
    top: 5px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    text-decoration: none;
    width: 336px;
    height: 67px;
    cursor: pointer;
    font-size: 20px;
    background: #FFFFFF;
    color: #0A3871;
    opacity: 0;
}


button:hover{
    border: 2px solid #033d39 !important;
    background: #495057 !important;
    color: #FFFFFF !important;
    transition: 0.3s all !important;
 }



.hide-image{
    opacity: 0;
    transition: opacity 0.5s ease;
 }

.hide-txt1{
    opacity: 0;
    transition: opacity 0.5s ease;
 }

.hide-txt2{
    opacity: 0;
    transition: opacity 0.5s ease;
 }

 .show-item{
    opacity: 100;
    transition: opacity 0.5s ease;
 }